/* -- Blue
Blue 0: #39D5FF
Blue 1: #29C5FF
Blue 2: #19B5FE
Blue 3: #22A7F0
Blue 4: #1297E0
Blue 5: #0287D0
Blue 6: #0077C0
Blue 7: #0067B0
Blue 8: #0057A0
Blue 9: #004790
Blue 10: #003780
Blue 11: #102770
 */

/* Paste in <head> of index.html */
/* <link
      href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap"
      rel="stylesheet"
    /> */

/* Organizational */
* {
  padding: 0;
  margin: 0;
  text-align: center;
}

body {
  /* background color 0 */
  background-color: #19b5fe;
  font-family: "Oswald", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.spacer10 {
  padding: 0;
  height: 10px;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
  text-align: left;
  /* color 11 */
  /* color: white; */
  
}

p {
  font-family: "Oswald", sans-serif;
  text-align: left;
  color: #0d3068;
  margin: 0px;
}

.dark {
  /* color 0 */
  color: black;
}

.container-outer {
  width: 30%;
  padding: 10px;
  margin: 20px auto 10px;
  /* background color 5 */
  background-color: #6c7a89;
  border-radius: 5px;
}

.container-inner {
  width: 85%;
  margin: 10px auto 5px;
  /* background color 2 */
  background-color: #3c4a59;
  padding: 10px;
  border-radius: 5px;
}

/* Lists: */

ul {
  width: 80%;
  border-radius: 5px;
  /* background color 11 */
  background-color: #c5d3e2;
  padding: 10px;
  margin: 10px auto;
  list-style: none;
}

li {
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
  margin: 5px;
  /* color 0 */
  color: #1c2a39;
}

/* Tables: */

/* table {
  width: 50%;
  background-color: white;
  border-collapse: collapse;
  width: 100%;
  padding: 20px;
}

th {
  font-weight: 500;
  text-align: left;
  padding: 4px;
}

td {
  text-align: left;
  padding: 4px;
}

tr:nth-child(even) {
  background-color:  #C5D3E2;
} */

table {
  padding: 10px;
  margin: 10px auto 20px;
  width: 95%;
  background-color: white;
}

th {
  text-align: left;
  font-weight: 500;
  /* color 0 */
  color: black;
}

tr {
  text-align: left;
  font-weight: 400;
  /* color 0 */
  color: black;
}

td {
  text-align: left;
}

/* Button (General Use) */

button {
  background-color: #5c6a79;
  color: white;
  padding: 1px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-size: 0.9em;
  border-radius: 5px;
}

/* Form (General Use)*/

.h-form {
  width: 50%;
  margin: 25px auto;
  /* border color 9 */
  border: 1px solid #acbac9;
  padding: 15px;
  box-sizing: border-box;
}

.h-form .h-label {
  display: block;
  padding: 7px;
  box-sizing: border-box;
  /* background color 8 */
  background-color: #9caab9;
}

.h-form .h-input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  height: 30px;
  padding: 15px;
  font-size: 14px;
}

.h-form .h-btn {
  /* background color 6 */
  background-color: #7c8a99;
  color: white;
  display: block;
  margin: 15px auto;
  border: none;
  padding: 4px 10px;
  font-size: 14px;
  font-family: "Oswald", sans-serif;
}

.h-form .h-btn:hover {
  /* background color 8 */
  background-color: #9caab9;
  cursor: pointer;
}

.h-form .h-btn:active {
  /* background color 4 */
  background-color: #5c6a79;
}

/* Old CSS  */

/* body {
  font-family: "Oswald", sans-serif;
  background-color: #6cb8d9;
  margin: 0;
} */

.project {
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto auto auto 45px;
  grid-gap: 8px;
  border: 2px solid #4680df;
  /* height: 180px; */
  line-height: 1.25em;
  border-radius: 8px;
  padding: 15px 20px;
  background-color: #ecf2f5;
}

.about_me_project {
  margin: 0 auto;
  display: grid;
  grid-template-rows: 30px 120px 30px 40px 40px;
  grid-gap: 12px;
  border: 2px solid #4680df;
  /* height: 150px; */
  line-height: 1em;
  border-radius: 8px;
  padding: 25px 20px 15px;
  background-color: #ecf2f5;
}
.project_buttons {
  /* background-color: purple; */
  /* margin: 0 auto; */
  padding: 0;
}

.container-centerer {
  display: flex;
}

.container {
  margin: auto;
  display: grid;
  grid-template-columns: 320px 320px;
  grid-gap: 20px;
}

.link {
  color: #0d3068;
  text-decoration: none;
}

.link:hover {
  color: #0d3068;
  text-decoration: none;
}

img {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.header > img {
  width: 25%;
}

.jg_button {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  background-color: #0d3068;
  color: white;
  font-size: 1rem;
  padding: 10px;
  border: 1px white;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
  text-align: center;
}

.jg_button:hover {
  background-color: white;
  color: #0d3068;
}

.jg_button:active {
  position: relative;
  top: 1px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
}

.spacer10 {
  height: 10px;
  width: 100%;
}

.spacer30 {
  height: 30px;
  width: 100%;
}

.spacer05 {
  height: 5px;
  width: 100%;
}
