body {
  font-family: "Nunito Sans", sans-serif;
  background-color: #6cb8d9;
  margin: 0;
}

.project {
  margin: 0 auto;
  display: grid;
  grid-template-rows: 50px 50px 18px 50px;
  grid-gap:8px;
  border: 2px solid #4680df;
  height: 180px;
  line-height: 1em;
  border-radius: 8px;
  padding: 15px 20px;
  background-color: #ecf2f5;
}


.about_me_project {
  margin: 0 auto;
  display: grid;
  grid-template-rows: 30px 120px 30px 40px 40px;
  grid-gap:12px;
  border: 2px solid #4680df;
  /* height: 150px; */
  line-height: 1em;
  border-radius: 8px;
  padding: 25px 20px 15px;;
  background-color: #ecf2f5;
}
.project_buttons {
  /* background-color: purple; */
  margin: 0 auto;
  padding:0;
}

.project > h1 {
  font-size: 1.75rem;
  line-height: 1.5rem;
}

.container-centerer {
  display: flex;
}

.container {
  margin: auto;
  display: grid;
  grid-template-columns: 320px 320px;
  grid-gap: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito Sans", sans-serif;
  color: #0d3068;
  font-weight: 700;
  font-style: italic;
  margin: 0px;
}

p {
  font-family: "Nunito Sans", sans-serif;
  color: #0d3068;
  margin: 0px;
}

.link {
  color: #0d3068;
  text-decoration: none;
}

.link:hover {
  color: #0d3068;
  text-decoration: none;
}

img {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.header > img {
  width: 40%;
}

.jg_button {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  background-color: #0d3068;
  color: white;
  font-size: 1rem;
  padding: 10px;
  border: 1px white;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
  text-align: center;
}

.jg_button:hover {
  background-color: white;
  color: #0d3068;
}

.jg_button:active {
  position: relative;
  top: 1px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
}

.spacer10 {
  height: 10px;
  width: 100%;
}

.spacer30 {
  height: 30px;
  width: 100%;
}

.spacer05 {
  height: 5px;
  width: 100%;
}
